* {
    box-sizing: border-box;
}

body {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
}
h1 {
    color: #e6e6e7;
}
#header {
    background-color: #c52b30;
    padding: 20px;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;

}
#link a {
    color: #e6e6e7;
    ;
}

#autoleiras {
    text-align: right;
    align-items: center;
    background: #33a0d1;
    padding: 20px;
    display: flex;
}
#termeszetleiras {
    text-align: right;
    align-items: center;
    background: #373485;
    padding: 20px;
    display: flex;
    color: #e6e6e7;
}
#zeneleiras {
    align-items: center;
    text-align: right;
    background: #33a0d1;
    padding: 20px;
    display: flex;
}

#autolista {
    background-color: #373485;
    padding: 20px;
    color: #e6e6e7;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}
#termeszetlista {
    background-color: #33a0d1;
    padding: 20px;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}
/*#zene{
    align-items: center;
}*/
#link {
    background-color: #373485;
    padding: 20px;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}

/* 800px-nél nagyobb képernyő*/
@media screen and (min-width: 1270px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 1920px;
        margin: auto;
    }

    #autok {
        display: flex;
    }
    #termeszet {
        display: flex;
    }
    #zene {
        display: flex;
    }

    #autoleiras {
        flex: 1 1 75%;
    }

    #autolista {
        flex: 1 1 25%;
    }
    #termeszetleiras {
        flex: 1 1 75%;
    }
    #termeszetlista {
        flex: 1 1 25%;
    }
    #zeneleiras {
        flex: 1 1 90%;
    }
    #link {
        flex: 1 1 10%;
    }
}
